@using App.DomainModels.Dto.Product
@{
    List<ProductTypeDTO> productTypes = ViewBag.productTypes;
}

<script>
    $(() => {
        console.log($('.hassubs'));
        $('.mainnav .hassubs').on('mouseover', function(e) {
            const width = $(this).outerWidth();
            const left = $(this).offset().left;
            $('.nav-item-hover').width(width);
            $('.nav-item-hover').css('left' , left + (width/2));
        }).on('mouseleave', function() {
            $('.nav-item-hover').width(0);
        })
    })
    
</script>
<style>
    
    /*General Menu Styling*/
    .main {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-start;
        direction: rtl;
    }
    .nav-item-hover {
        display: block;
        width: 0;
        height: 3px;
        background: #ba0000;
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: .5s;
        transition: .5s;
    }
    .mainnav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
    }

    li {
        list-style: none;
    }

        li a {
            text-decoration: none;
            text-align:center;
        }
    .hassubs:hover .dropdown {
        opacity: 1;
        visibility: visible;
    }
    .dropdown {
        position: absolute;
        top: 100%;
        background-color: #fff;
        padding-right: 0;
        transition: ease-out .35s;
        -moz-transition: ease-out .35s;
        -webkit-transition: ease-out .35s;
        border-bottom: 2px solid #ba0000;
        width: 100%;
        opacity: 0;
        visibility: hidden;
    }
    .dropdown .subs {
        transition: .35s;
        position: relative;
        width: 100%;
        border-right: none !important;
        border-left: none !important;
        padding: 5px !important;
        text-align: right;
    }
    .dropdown .subs:hover {

    }
    .dropdown .subs a {
        padding-right: .5rem;
        padding-right: .5rem;
        width: 100%;
        display: block;
        color: #666;
        text-align: right;
    }
    .dropdown .subs a:hover {
        text-decoration: none;
        color: #e65540;
        cursor: pointer;
    }
    
    .dropdown .subs .dropdown {
        position: absolute;
        right: 100%;
        top: 0;
        background: #fff;
        opacity: 0;
        visibility: hidden;
    }
    .dropdown .subs:hover .dropdown {
        opacity: 1;
        visibility: visible;
    }
    .mainnav > li {
        height: 100%;
        text-align: center;
        position: relative;
    }

        .mainnav > li:last-child {
            border: none;
        }

        .mainnav > li > a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 3.5rem;
            color: white;
            font-family: IRANSans !important;
            color: #fff;
        }


</style>


<div class="main">
    <span class="nav-item-hover"></span>
    <ul class="mainnav">
        <li class="hassubs">
            <a href="~/Home/Index">صفحه اصلی</a>
        </li>
        <li class="hassubs">
            <a href="#">محصولات</a>
            <ul class="dropdown">
                @foreach (var item in productTypes.Where(p => p.ParentId == null))
                {
                    <li class="subs hassubs">
                        @if (productTypes.Any(p => p.ParentId.HasValue && p.ParentId.Value == item.Id))
                        {
                            <a>@item.Title</a>
                            <ul class="dropdown">
                                @foreach (var item2 in productTypes.Where(p => p.ParentId.HasValue && p.ParentId.Value == item.Id))
                                {
                                    <li class="subs"><a asp-action="Index" asp-controller="product" asp-route-ProductTypeId="@item2.Id">@item2.Title</a></li>
                                }
                            </ul>

                        }
                        else
                        {

                            <a asp-action="Index" asp-controller="product" asp-route-ProductTypeId="@item.Id">@item.Title</a>

                        }
                    </li>
                }
            </ul>
        </li>

        <li class="hassubs">
            <a href="~/Home/about">درباره ما</a>
        </li>

        @*<li class="hassubs">
            <a href="~/Home/About">مقالات</a>
        </li>*@
        <li class="hassubs">
            <a href="~/ContactUs/Index">ارتباط با ما</a>
        </li>


    </ul>
</div>









 