@using App.DomainModels.Dto.Product
@model IEnumerable<ProductGalleryImageDTO>
@using App.DomainModels.SSOT
@inject FileConfig config
@{
    ViewData["Title"] = "گالری تصاویر محصولات";
}

<a style="margin:30px 0px" asp-action="Create" asp-controller="ProductGalleryImage" asp-route-ProductId="@ViewBag.ProductId" class="btn btn-outline-warning">ایجاد محصول</a>


<div class="content__inner">
    <div class="content__inner__title">
        گالری عکس
    </div>
    <div class="content__inner__desc">
        تعداد تصاویر : @Model.Count()
    </div>
    <div class="row photo">

        @foreach (var item in Model)
        { 
            <div class="col-md-2 col-xs-6 col-sm-4 photo__item">
                <a href="@config.WebAddress@item.Image" data-fancybox="images" data-caption="@item.Alt ">
                    <img src="@config.WebAddress@item.Image" style="height:250px;width:250px"  />
                </a>
            </div>
        }

    </div>
</div>