@using App.DomainModels.Dto.Product
@model IEnumerable<ProductDTO>
@using App.DomainModels.SSOT
@inject FileConfig config
@{
    ViewData["Title"] = "انواع محصولات";
}
@{
    int counter = 0;
}
<div class="content__inner">
    <div class="row">
        <div class="col-md-12">
            <div class="content__inner__card wow zoomIn">
                <div class="content__inner__card__title">
                    محصولات
                </div>
                <br />

                <hr /> 
                <a style="margin:30px 0px" asp-action="Create" asp-controller="Products" class="btn btn-outline-warning">ایجاد محصول</a>
 

                <div class="table-responsive">
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>نام محصول</th>
                                <th>نوع محصول</th>
                                <th>تصویر اصلی محصول</th>
                                <th>توضیح مختصر</th>
                                <th>گالری</th>
                                <th>اقدامات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@(++counter)</td>
                                <td>@item.Name</td>
                                <td>@item.ProductType.Title</td>
                                <td>
                                <img  src="@config.WebAddress@item.Image" width="100" height="100" />
                                 <td>@item.ShortDescription</td>
                                 <td>
                                     <div class="form-group">
                                         <a asp-action="Index" asp-controller="ProductGalleryImage" asp-route-ProductId="@item.Id" class="btn btn-lg btn-outline-info">مدیریت گالری</a>
                                     </div>
                                 </td>
                                <td>
                                    <a  asp-action="Edit" asp-controller="Products" asp-route-Id="@item.Id" class="action">
                                        <i class="pe-7s-edit"></i>
                                    </a>
                                    <a asp-action="Delete" asp-controller="Products" asp-route-Id="@item.Id"  asp-route-ImagePath="@item.Image" class="action">
                                        <i class="pe-7s-trash"></i>
                                    </a>
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @*<div class="text-center font-size-12 margin-top-20">
            نمایش 1 تا 2 از 17 مورد
        </div>

        <div class="pagination">
            <a class="pagination__btn"><i class="pe-7s-angle-left"></i></a>
            <a href="#" class="pagination__btn active">1</a>
            <a href="#" class="pagination__btn">2</a>
            <a href="#" class="pagination__btn">3</a>
            <a href="#" class="pagination__btn">4</a>
            <a class="pagination__btn disabled"><i class="pe-7s-angle-right"></i></a>
        </div>*@

            </div>
        </div>
    </div>
</div>
