@using App.DomainModels.Entities
@model Info
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h3>@ViewData["Message"]</h3>

<body class="animsition">

    <!-- content page -->
    <section class="bgwhite p-t-66 p-b-38">
        <div class="container">
            <div class="row">
                <div class="col-md-4 p-b-30">
                    <div class="hov-img-zoom">
                        <img src="../../images/banner-14.jpg" alt="IMG-ABOUT">
                    </div>
                </div>

                <div class="col-md-8 p-b-30">
                    <h3 class="m-text26 p-t-15 p-b-16">
                        درباره ما
                    </h3>

                    <p class="p-b-28" style="font-size:20px">
                        @Html.Raw(Model.OurStory)
                    </p>

                    <div class="bo13 p-l-29 m-l-9 p-b-10" style="font-size:20px">
                        <p style="font-size:20px" class="p-b-15">
                            @Model.Address
                        </p>
                        <p style="font-size:20px" class="p-b-11">
                            @Model.Email
                        </p>
                        <p style="font-size:20px" class="p-b-11">
                            @Model.fax
                        </p>
                        <p style="font-size:20px" class="p-b-11">
                            @Model.Mobile
                        </p> 
                        <span style="font-size:20px" class="s-text7">
                            @Model.Tell
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

