@using App.DomainModels.Dto.Blogs
@model IEnumerable<BlogGalleryDTO>
@using App.DomainModels.SSOT
@inject FileConfig config
@{
    ViewData["Title"] = "گالری تصاویر محصولات";
}

<a style="margin:30px 0px" asp-action="Create" asp-controller="BlogGallery" asp-route-BlogId="@ViewBag.BlogId" class="btn btn-outline-warning">ایجاد تصویر  جدید</a>


<div class="content__inner">
    <div class="content__inner__title">
        گالری عکس
    </div>
    <div class="content__inner__desc">
        تعداد تصاویر : @Model.Count()
    </div>
    <div class="row photo">

        @foreach (var item in Model)
        {
            <div class="col-md-2 col-xs-6 col-sm-4 photo__item">
                <a href="@config.WebAddress@item.Image" data-fancybox="images" data-caption="@item.Alt ">
                    <img src="@config.WebAddress@item.Image" class="img-responsive" />
                </a>
            </div>
        }

    </div>
</div>